body {
  background-color: #111;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#game-container {
  display: flex;
  gap: 20px;
}
#rules {
  width: 200px;
}
canvas {
  border: 4px solid white;
  background: #222;
}